version: '3.9'

services:
  laravel-app:
    container_name: laravelapp
    image: lucasunzer/laravel-php:1.0.4
    build: 
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - .env
    depends_on:
      - db
  
  db:
    container_name: db
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    
volumes:
  pgdata: {}